body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('loginwallpape.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.bgblr{
    background-color: rgba(0, 0, 0, 0.5);
    height: 170vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: slideDown 1.5s ease-out;
}

.login-container h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.login-container input {
    width: 91%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #6e8efb;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-container button:hover {
    background: #4f6edc;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}